@import "../row/row";

.btnWrapper {
  display: flex;
  padding: 25px 15px;
}

.tableWrapper{
  overflow-x: auto;
}
.tableRow {
  background-color: #FFFFFF;
  cursor: pointer;
  .MuiTableCell-root {
    @include adaptiv-font(14, 10);
  }
  &:hover {
    background-color: #fafafa;
  }
}

//create-task

.inputCreate {
  margin-bottom: 20px;
  .error {
    color: red;
  }
}


